.navbar .navbar-brand,
.navbar ul li a {
    color: #fff;
}

.navbar ul li a:hover {
    color: #fff;
}

.lead {
    width: 60%;
    margin: auto;
}

.card-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-div .card {
    text-align: center;
    width: 350px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    resize: none;
}

.slider-container {
    margin-top: 50px;
}

#user-slider {
    width: 100%;
    margin: 0 auto;
}

.plans {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.plan {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 0 10px;
    background-color: #fff;
    cursor: pointer;
}

.plan.active {
    background-color: #007BFF;
    color: #fff;
}

.slider-content,
.apiData,
footer,
.landing-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section {
    height: 100vh;
}

.apiData ul {
    padding-left: 0;
}

.apiData {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    width: 100%;
    text-align: center;
    background: #212529;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 767px) {

    .landing-section {
        height: auto;
        padding: 100px 0;
    }

    .lead {
        width: 100%;
        padding-bottom: 20px;
    }

    .card-div {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .landing-section {
        height: auto;
        padding: 100px 0;
    }
    .lead {
        width: 100%;
        padding-bottom: 20px;
    }

    .card-div {
        flex-direction: column;
    }
    .card-div .card {
        width: 100%;
    }
}